.form {
    padding: 20px;
    margin-top: 20px;
    background-color: white;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputField {
    width: 100%;
}

@media only screen and (max-width: 601px) {
    .form {
        width: 100%;
    }
}